@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: black;
    color: white;
}

header > h1 {
    margin: 0px;
    padding: 10px;
    font-size: 1.5em;
}

nav {
    margin: 0px;
    padding: 0px;
    background-color: rgb(61, 61, 61);
}

nav > p {
    display: inline-block;
    margin: 15px 8px 2px 5px;
    spa ;
}

nav > p:hover {
    border-bottom: 1px solid white;
}


nav > p > a {
    color: white;
    text-decoration: none;
}

main {
    text-align: center;
}

div#semTarefas {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#semTarefas > img {
    width: 306px;
    height: 204px;
}

div#listaTarefas {
    max-width: 720px;
    padding: 20px;
    margin: auto;
    background-color: rgb(92, 90, 90);
    text-align: left;
}

div#listaTarefas > #input {
    display: block;
    
}

div#listaTarefas > #descricao {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-size: 1em;
}

div#btAdicionar {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 92%;
    left: 90%;
    text-align: center;
}

div#btAdicionar > input {
    padding: 1px 12px;
    font-size: 2.5em;
    border-radius: 50%;
    border: none;
    background-color: rgb(42, 98, 117);
    text-align: center;
}