@charset "UTF-8";

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 0px;
    padding: 0px;
}

header > h1 {
    margin: 0px;
    padding: 0px;
}

nav {
    margin: 0px;
    padding: 20px 0px;
    background-color: #1b7e42ff;
    text-align: left;
}

div#logo {
    display: inline-block;
}

div#logo > img {
    width: px;
}

menu {
    display: block;
    background-color: white;
    padding: 9px 20px;
    margin: 0px;
}

span#menu {
    padding-left: 20px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

menu > ul > li > a {
    color: #1b7e42ff;
    text-decoration: none;
    font-weight: bold;
}

menu > ul > li > a:hover {
    color: rgb(10, 67, 33);
}

menu > ul {
    list-style-type: none;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

menu > ul > li {
    padding: 4px 0px;
}

main {
    margin: 0px;
    padding: 20px;
}

main > p {
    text-align: justify;
    text-indent: 25px;
}

footer {
    padding: 20px;
    background-color: #1b7e42ff;
    color: white;
}

footer > a {
    color: white;
}