@charset "UTF-8";

@media screen and (min-width: 760px) and (max-width:900px) {
    h1 {
        font-size: 2.2em;
    }

    section#container{
        width: 700px;
    }

    label.form {
        font-size: 1.1em;
    }

    p#bloco_sexo{
        text-align: left;
        padding-left: 10px;
    }

    p#bloco_sexo > label {
        font-size: 1.1em;
        padding: 0px 50px 15px 0px;
        
    }
    
    .entradas {
        width: 600px;
        padding: 15px;
        font-size: 1em;
    }
    
    p#mostrarSenha {
        font-size: 1.1em;
    }

}