@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:1000px) {
    section#container {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        text-align: justify;
    }

    div#formulario {
        height: 500px;
        text-align: left;
        
    }

    label.form {
        padding: 12px 0px;
    }

    input.entradas {
        display: inline;
        margin: 0px;
    }

    
}

@media screen and (min-width: 1000px) {
    div#img{
        display: inline-block;
        margin: auto;
        visibility: visible;
        background:white url(imagens/img-login.jpg) no-repeat center center;
        width: 300px;
        height: 300px;
        background-size: cover;
    }
}